@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Pozdravljeni v projektu Slovenska trta</h1>
    <p>Spletna aplikacija za prikaz podatkov o trtah in vinogradniških površinah v Sloveniji.</p>
</div>
