@{
    ViewData["Title"] = "Pravilnik zasebnosti";
}
<h1>@ViewData["Title"]</h1>

<p>Slovenska Trta upravlja https://slovenskatrta-is.azurewebsites.net spletno stran, ki omogoča vpogled v podatke vinogradov v Sloveniji.</p>

<p>Viri: <a href ="https://deloindom.delo.si/vrt-in-zivali/sadovnjaki/vinska-trta-v-iskanju-najbolj-izjemnih-lastnosti">https://deloindom.delo.si/vrt-in-zivali/sadovnjaki/vinska-trta-v-iskanju-najbolj-izjemnih-lastnosti</a>
<p>Logotip je last našega projekta Slovenska Trta