@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Vaše geslo je bilo spremenjeno. <a asp-page="./Login">Pritisni sem za prijavo</a>.
</p>
